<div class="container">
    <div class="row">
        <table>
            <tr>
                <td>
                    <p><img src="images/udenar.jpg" alt="">
                     Created by: José Daniel Jojoa Insandará</p>
                </td>
                <td>
                    <p>
                        <img src="images/facebook.png" alt="">Facebook :
                        <a href="https://www.facebook.com/daniel.jojoainsandara">Daniel Jojoa</a>
                    </p>
                </td>
                <td>
                    <p>
                        <img src="images/mail.png" alt=""> 
                        <a href="mailto:danielinsandara@udenar.edu.co">Correo Electrónico : danielinsandara@udenar.edu.co</a></p>
                </td>
            </tr>
        </table>       
        
    </div>    
</div>