
    <nav>
        <ul>
            <li>
                <a href="/acercade">Acerca de</a>
            </li>
            <li>
                <a href="/redirect"> Página Udenar</a>
            </li>
            <li>
                <a href="/json">Ejemplo Json</a>
            </li>
            <li>
                <a href="/">Maquina Expendedora </a>
            </li
        </ul>
    </nav>
             
           
            
            
        
            
           
        
    