<style type="text/css">
 nav {
     position: relative;
    top:-20px;
    left:0;
    right:0;
	margin:20px auto;
	max-width:1000px;
	width:90%;
}
nav ul {
	list-style:none;
}
nav > ul {
	display:table;
	width:100%;
	position:relative;
}
nav > ul li {
	display:table-cell;
}
nav > ul li a {
    color: white;
	display:block;
	line-height:20px;
	padding:20px;
	position: relative;
	text-align:center;
	text-decoration:none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#7EC251; 
}



li a:hover {
    background-color:#d0eeca;
}
</style>





    <nav>
        <ul>
            <li>
                <a href="/acercade">Acerca de</a>
            </li>
            <li>
                <a href="/redirect"> Página Udenar</a>
            </li>
            <li>
                <a href="/json">Ejemplo Json</a>
            </li>
            <li>
                <a href="/">Maquina Expendedora </a>
            </li
        </ul>
    </nav>
             
           
            
            
        
            
           
        
    