<div class="row" id="colRes">
    <div class="eleven columns">
        <table>
            <th>Resultado de la consulta</th>
            <tr>
                <td><h3 id="tipCons"></h3></td><td><h3 id="res"></h3></td>
            </tr>
        </table>
    </div>
</div>